## **EXPLORING NYC SCHOOL TEST RESULTS SCORE**

### **PROJECT INSTRUCTION**
Perform exploratory data analysis on the *School.csv* data to understand more about Top performance.
1. Finding School with the best math Score
2. Identifying the top 10 perfoming School
3. Locating the NYC borough with the largest Standard deviation in SAT performance

Importing the libraries

In [2]:
#Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Import the School.csv file

In [3]:
#Import the School.csv file (Dataset)
school = pd.read_csv('schools.csv')

#Display the first 5 rows of the dataset
print(school.head())

                                         school_name    borough building_code  \
0  New Explorations into Science, Technology and ...  Manhattan          M022
1                               Essex Street Academy  Manhattan          M445
2                       Lower Manhattan Arts Academy  Manhattan          M445
3    High School for Dual Language and Asian Studies  Manhattan          M445
4      Henry Street School for International Studies  Manhattan          M056

   average_math  average_reading  average_writing  percent_tested
0           657              601              601             NaN
1           395              411              387            78.9
2           418              428              415            65.1
3           613              453              463            95.9
4           410              406              381            59.7

In [8]:
school.columns

Index(['school_name', 'borough', 'building_code', 'average_math',
       'average_reading', 'average_writing', 'percent_tested', 'total_score'],
      dtype='object')

**Question 1**: Finding School with the best math Score

In [4]:
#Question 1: Finding School with the best math Score

#filter where the average math score = 640
best_average_math_score = school[school["average_math"] >= 640]

#Return the School name and Best average math scores
best_average_math_score = best_average_math_score[['school_name', 'average_math']]

#Sort the average math score in decending order 
best_average_math_score = best_average_math_score.sort_values(by='average_math', ascending=False)

#Display the results
print(best_average_math_score)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

2. Identifying the top 10 perfoming School

In [ ]:
#Identifying the top 10 perfoming School

#Creating a new column
school["total_score"] = school.iloc[:,3:6].sum(axis=1) 

#Sort the school by total in decending order 
top_10_schools = school.sort_values(by="total_score", ascending=False)

#Return the schools name and total_score
top_10_schools = top_10_schools[["school_name", "total_score"]].head(10)

#Display the results
print(top_10_schools)

                                           school_name  total_score
88                              Stuyvesant High School         2144
170                       Bronx High School of Science         2041
93                 Staten Island Technical High School         2041
174  High School of American Studies at Lehman College         2013
333                        Townsend Harris High School         1981
365  Queens High School for the Sciences at York Co...         1947
5                       Bard High School Early College         1914
280                     Brooklyn Technical High School         1896
45                       Eleanor Roosevelt High School         1889
68   High School for Mathematics, Science, and Engi...         1889

**Question 3:** Locating the NYC borough with the largest Standard deviation in SAT performance

In [30]:
#Locating the NYC borough with the largest Standard deviation in SAT performance

#Creating a new column
school["total_score"] = school.iloc[:,3:6].sum(axis=1) 

# group the data and calculate the number of schools and average Sat 
brorough_SAT = school.groupby("borough").agg(
    num_schools = ("school_name", "count"), 
    average_SAT = ("total_score", "mean"),
    std_SAT = ("total_score", "std")
).round(2)

#Display the results
print(brorough_SAT)


# getting the largest 
largest_std_dev = brorough_SAT.sort_values(by='std_SAT', ascending=False).head(1)

#Display the results
print(largest_std_dev)

               num_schools  average_SAT  std_SAT
borough
Bronx                   98      1202.72   150.39
Brooklyn               109      1230.26   154.87
Manhattan               89      1340.13   230.29
Queens                  69      1345.48   195.25
Staten Island           10      1439.00   222.30
           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29

In [ ]:
churn_subset = churn
churn_filter = churn_subset[churn_subset["geography"].isin(["Germany", "France"])]
print(churn_filter.head())