## **EXPLORING NYC SCHOOL TEST RESULTS SCORE**

### **PROJECT INSTRUCTION**
Perform exploratory data analysis on the *School.csv* data to understand more about Top performance.
1. Finding School with the best math Score
2. Identifying the top 10 perfoming School
3. Locating the NYC borough with the largest Standard deviation in SAT performance

Importing the libraries

In [2]:
#Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Import the School.csv file

In [ ]:
#Import the School.csv file (Dataset)
school = pd.read_csv('schools.csv')

#Display the first 5 rows of the dataset
print(school.head())

**Question 1**: Finding School with the best math Score

In [ ]:
#Question 1: Finding School with the best math Score

#filter where the average math score = 640
best_average_math_score = school[school["average_math"] >= 640]

#Return the School name and Best average math scores
best_average_math_score = best_average_math_score[['school_name', 'average_math']]

#Sort the average math score in decending order 
best_average_math_score = best_average_math_score.sort_values(by='average_math', ascending=False)

#Display the results
print(best_average_math_score)

2. Identifying the top 10 perfoming School

In [ ]:
#Identifying the top 10 perfoming School

<bound method NDFrame.head of                                            school_name    borough  \
0    New Explorations into Science, Technology and ...  Manhattan
1                                 Essex Street Academy  Manhattan
2                         Lower Manhattan Arts Academy  Manhattan
3      High School for Dual Language and Asian Studies  Manhattan
4        Henry Street School for International Studies  Manhattan
..                                                 ...        ...
370  Queens High School for Information, Research, ...     Queens
371  Rockaway Park High School for Environmental Su...     Queens
372                   Channel View School for Research     Queens
373                    Rockaway Collegiate High School     Queens
374                                  Scholars' Academy     Queens

    building_code  average_math  average_reading  average_writing  \
0            M022           657              601              601
1            M445           395              411              387
2            M445           418              428              415
3            M445           613              453              463
4            M056           410              406              381
..            ...           ...              ...              ...
370          Q465           372              362              352
371          Q410           357              381              376
372          Q410           427              430              423
373          Q410           399              403              405
374          Q180           588              560              568

     percent_tested
0               NaN
1              78.9
2              65.1
3              95.9
4              59.7
..              ...
370            44.6
371            38.5
372            76.6
373            46.5
374            99.2

[375 rows x 7 columns]>